<div class="container" style="background-color:beige; margin-bottom: 50px;">
  <h1>Edit Mode</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group">
      <label for="title">Title</label>
      <input id="title" name="title" [(ngModel)]="editBug.title" type="text" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input id="description" name="description" [(ngModel)]="editBug.description" type="text" class="form-control"
        required>
    </div>
    <div class="form-group">
      <label for="priority">Priority</label><br>
      <!-- (ngModelChange)="editBug.priority=$event" -->
      <select id="priority" name="priority" [ngModel]="selectedPriority" (ngModelChange)="onChangePriority($event)"
        class="form-control" required>
        <option *ngFor="let i of priorityOptions" [ngValue]="i.key">{{i?.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="reporter">Reporter</label><br>
      <select id="reporter" name="reporter" [ngModel]="selectedReporter" (ngModelChange)="onChangeReporter($event)"
        class="form-control" required>
        <option *ngFor="let i of reporterOptions" [ngValue]="i.key">{{i.name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="status">Status</label><br>
      <select id="status" name="status" [ngModel]="selectedStatus" (ngModelChange)="onChangeStatus($event)"
        class="form-control" required>
        <option *ngFor="let i of statusOptions" [ngValue]="i.key">{{i.name}}</option>
      </select>
    </div>
    <ul>
      <li *ngFor="let comment of editBug.comments">
        Reporter of the comment: {{comment.reporter}}<br>
        Description of the comment: {{comment.description}}<br>
      </li>
    </ul>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <br>
</div>

<div class="container" style="background-color:beige; margin-bottom: 50px;">
  <form #commentForm="ngForm" (ngSubmit)="onCommentSubmit(commentForm)">
    <div class="form-group">
      <label for="commentReporter">Reporter</label>
      <input id="commentReporter" name="commentReporter" [(ngModel)]="newComment.reporter" type="text"
        class="form-control" required>
    </div>
    <div class="form-group">
      <label for="commentDescription">Description</label><br>
      <textarea id="commentDescription" name="commentDescription" [(ngModel)]="newComment.description"
        class="form-control" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-success">Submit Comment</button>
  </form>
  <br>
</div>
