<!-- <form (ngSubmit)="onSearch(searchBar)">
<div class="container">
    <div class="row" id="searchBar">
      <input class="col-sm" placeholder="Search by title" name="title" id="title" [(ngModel)]="searchBar.title" type="text" autocomplete="off">
      <input class="col-sm" placeholder="Search by priority" name="priority" id="priority" [(ngModel)]="searchBar.priority" type="text" autocomplete="off">
      <input class="col-sm" placeholder="Search by reporter" name="reporter" id="reporter" [(ngModel)]="searchBar.reporter" type="text" autocomplete="off">
      <input class="col-sm" placeholder="Search by status" name="statuss" id="statuss" [(ngModel)]="searchBar.statuss" type="text" autocomplete="off">
      <button type="submit" class="searchButtonId">Search</button>
    </div>
  </div> -->
