<div class="container text-center" style="background-color: aliceblue">
  <h1>Insert A New Bug</h1>
  <form #insertform="ngForm" (ngSubmit)="onUpdate(insertform)">
    <div class="form-group">
      <label for="title">Title</label>
      <input name="title" id="title" required [(ngModel)]="insertform.title" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input name="description" id="description" required [(ngModel)]="insertform.description" type="text"
        class="form-control">
    </div>
    <div class="form-group">
      <label>Priority</label>
      <select name="priority" [ngModel]="insertform.priority" (ngModelChange)="insertform.priority=$event"
        class="form-control" required>
        <!-- <option value="null" disabled="true" [selected]="true" style="display: none">Select</option> -->
        <option [ngValue]="Select" disabled="true" [selected]="true" style="display: none">Select</option>
        <option *ngFor="let i of priorityOptions" [ngValue]="i.key">{{i.priority}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Reporter</label>
      <select name="reporter" [ngModel]="insertform.reporter" (ngModelChange)="insertform.reporter=$event"
        class="form-control" required>
        <!-- <option value="null" disabled="true" [selected]="true" style="display: none">Select</option> -->
        <option [ngValue]="Select" disabled="true" [selected]="true" style="display: none">Select</option>
        <option *ngFor="let i of reporterOptions" [ngValue]="i.key">{{i.reporter}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Status</label>
      <select name="statuss" [ngModel]="insertform.statuss" (ngModelChange)="insertform.statuss=$event"
        class="form-control" required>
        <!--<option class="dropdown-placeholder" value="-1" >Select</option>-->
        <!-- <option value="null" disabled="true" [selected]="true" style="display: none">Select</option> -->
        <option [ngValue]="Select" disabled="true" [selected]="true" style="display: none">Select</option>
        <option *ngFor="let i of statusOptions" [ngValue]="i.key">{{i.statuss}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
  <br>
</div>
