<div class="container" style="background-color:beige; margin-bottom: 50px;">
  <h1>Edit Mode</h1>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">

    <div class="form-group">
      <label for="name">Title</label>
      <input name="editBug?.title" [(ngModel)]="editBug.title" type="text" class="form-control"
        id="name" required>
    </div>

    <div class="form-group">
      <label for="name">Description</label>
      <input name="editBug?.description" [(ngModel)]="editBug.description" type="text"
        class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="name">Priority</label><br>
      <!-- (ngModelChange)="editBug.priority=$event" -->
      <label>
        <select [ngModel]="selectedPriority" (ngModelChange)="onChangePriority($event)" name="editBug?.priority" class="form-control"
          required>
          <option [ngValue]="null">Select</option>
          <option *ngFor="let i of priorityOptions" [ngValue]="i.key">{{i?.name}}</option>
        </select>
      </label>
    </div>

    <div class="form-group">
      <label for="name">Reporter</label><br>
      <!-- (ngModelChange)="editBug.reporter=$event" -->
      <select [ngModel]="selectedReporter" (ngModelChange)="onChangeReporter($event)"  name="editBug?.reporter" class="form-control" required>
        <option *ngFor="let i of reporterOptions" [ngValue]="i.key">{{i.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="name">Status</label><br>
      <!-- (ngModelChange)="editBug.status=$event" -->
      <select [ngModel]="selectedStatus" (ngModelChange)="onChangeStatus($event)" name="editBug?.status"
        class="form-control" required>
        <option *ngFor="let i of statusOptions" [ngValue]="i.key">{{i.name}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
